<div class="container">
    <h2>Vaccinations</h2><br>

    <p type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        + Add
    </p>
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal body -->
                <div class="modal-body" style="padding: 32px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <br>

                    <h2 class="modal-title">Add vaccinations</h2><br>
                    <form>
                        <div class="form-group has-search">
                            <input type="text" class="form-control"
                                placeholder="Vaccine name">
                        </div> 
                        <br>

                        <button type="button" class="btn btn-primary" style="float: right;"
                            data-dismiss="modal">Add</button>
                    </form>
                </div>
            </div> 
        </div>
    </div>


</div>