<h3 style="padding: 10px;">About</h3>
<form>
    <div class="row">
        <div class="col">
            <label class="control-label" for="date">First name</label>
            <input type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col">
            <label class="control-label" for="date">Middle name</label>
            <input type="text" class="form-control" placeholder="Middle name">
        </div>
        <div class="col">
            <label class="control-label" for="date">Last name</label>
            <input type="text" class="form-control" placeholder="Last name">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
            <!-- Date input -->
            <label class="control-label" for="date">Date of Birth</label>
            <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text" />
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <label class="control-label" for="date">Biological sex</label><br>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optradio">Male
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optradio">Female
                </label>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
            <!-- Date input -->
            <label class="control-label" for="date">Ethnicity</label>
            <input type="text" class="form-control" placeholder="India">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3"> 
            <!-- Date input -->
            <label class="control-label" for="date">Languages</label>
            <input type="text" class="form-control" placeholder="India">
        </div>
    </div>
</form>