<h2>Health Metrics</h2>
<hr>
<div>
    <div class="row">
        <div class="col-md-6">
            <p>Height</p>
            <p class="fontSizes">Self-Entered</p>
        </div>
        <div class="col-md-6 rightAling">
            <p>5 ft 9 in</p>
            <p class="fontSizes">jun 16, 2020 8:24 PM</p>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <p>Weight</p>
            <p class="fontSizes">Self-Entered</p>
        </div>
        <div class="col-md-6 rightAling">
            <p>200 lbs</p>
            <p class="fontSizes">jul 5, 2020 8:24 PM</p>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <p>Body Mass Index (BMI)</p>
            <p class="fontSizes">Self-Entered</p>
        </div>
        <div class="col-md-6 rightAling">
            <p>55.0</p>
            <p class="fontSizes">jun 16, 2020 8:24 PM</p>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <p>Pulse</p>
            <p class="fontSizes">N/A</p>
        </div>
        <div class="col-md-6 rightAling">
            <p>5 ft 9 in</p>
            <p class="fontSizes">jun 16, 2020 8:24 PM</p>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <p>Body Temprature</p>
            <p class="fontSizes">N/A</p>
        </div>
        <div class="col-md-6 rightAling">
            <p>--</p>
            <p class="fontSizes">--</p>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <p>Blood Pressure (Systolic)</p>
            <p class="fontSizes">N/A</p>
        </div>
        <div class="col-md-6 rightAling">
            <p>--</p>
            <p class="fontSizes">--</p>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <p>Blood Pressure (Diastolic)</p>
            <p class="fontSizes">N/A</p>
        </div>
        <div class="col-md-6 rightAling">
            <p>--</p>
            <p class="fontSizes">--</p>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <p>Total Cholesterol</p>
            <p class="fontSizes">N/A</p>
        </div>
        <div class="col-md-6 rightAling">
            <p>--</p>
            <p class="fontSizes">--</p>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <p>LDL Cholestrol</p>
            <p class="fontSizes">N/A</p>
        </div>
        <div class="col-md-6 rightAling">
            <p>--</p>
            <p class="fontSizes">--</p>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <p>HDL Cholestrol</p>
            <p class="fontSizes">N/A</p>
        </div>
        <div class="col-md-6 rightAling">
            <p>--</p>
            <p class="fontSizes">--</p>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <p>Triglycerides</p>
            <p class="fontSizes">N/A</p>
        </div>
        <div class="col-md-6 rightAling">
            <p>--</p>
            <p class="fontSizes">--</p>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <p>Cholesterol/HDL Ratio</p>
            <p class="fontSizes">N/A</p>
        </div>
        <div class="col-md-6 rightAling">
            <p>--</p>
            <p class="fontSizes">--</p>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <p>Glucose</p>
            <p class="fontSizes">N/A</p>
        </div>
        <div class="col-md-6 rightAling">
            <p>--</p>
            <p class="fontSizes">--</p>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <p>Waist Circumference</p>
            <p class="fontSizes">N/A</p>
        </div>
        <div class="col-md-6 rightAling">
            <p>--</p>
            <p class="fontSizes">--</p>
        </div>
    </div>
    <hr>
   


    
</div>